@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "oswald-extralight";
  src: url("../public//assets/fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "proxima";
  src: url("../public//assets//fonts/Proxima\ Nova\ Thin.otf");
}

@font-face {
  font-family: "button";
  src: url("../public//assets//fonts/AvenirLTStd-Book.otf");
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "oswald-extralight", Helvetica;
  font-size: 56px;
}

p {
  font-family: "proxima", Arial, Helvetica, sans-serif;
}

.varousel {
  display: grid;
  place-items: center;
}

.slider {
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track {
  display: flex;
  width: calc(250px * 18);
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  display: flex;
  align-items: center;
  perspective: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 9));
  }
}

@media only screen and (max-width: 600px) {
  p {
    font-family: "proxima", Arial, Helvetica, sans-serif;
  }

  .notherFont {
    font-family: "button", Arial, Helvetica, sans-serif;
  }

  .stat-value {
    font-size: 1rem;
  }

  .stat {
    display: inline-grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem /* 16px */;
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: 0.1;
    padding-left: 0.8rem /* 24px */;
    padding-right: 0.8rem /* 24px */;
    padding-top: 1rem /* 16px */;
    padding-bottom: 1rem /* 16px */;
  }
}

.stat {
  display: inline-grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem /* 16px */;
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --tw-border-opacity: 0.1;
  padding-left: 2rem /* 24px */;
  padding-right: 2rem /* 24px */;
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
}

.blurNav {
  backdrop-filter: blur(11px) saturate(180%);
  -webkit-backdrop-filter: blur(11px) saturate(180%);
  background-color: rgba(216, 216, 216, 0.75);
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: transparent;
  --tw-bg-opacity: 0.1;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):focus),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: transparent;
  --tw-bg-opacity: 0.1;
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  --tw-bg-opacity: 1;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  --tw-bg-opacity: 1;
  background-color: transparent;
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}

html {
  scroll-behavior: smooth;
}

.css-tq0uin {
  background-color: #1c1c1f !important;
  color: white !important;
  cursor: pointer !important;
  width: 13rem !important;
  height: 3.5rem !important;
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  border: 1px solid hsl(241, 5%, 14.3%);
}

.css-1qr8xlu {
  background-color: transparent !important;
}

.navBorders {
  background: hsl(246, 6%, 9%);

  border: 1px solid hsl(241, 5%, 14.3%);
}
